# Ignored Jupyter files
ASSIGNMENT_03_PART1.ipynb
collectionMerge.ipynb
commitsCrawler(untouched).ipynb

# Ignoring some automatic folders
.idea

# Ignoring csv file for now
*.csv

# Ignoring txt files
*.txt

# Ignoring json files
*.json

# Ignoring specific files
JiraDataCrawler/1.DataDownload/jiraProjectIssues/
JiraDataCrawler/1.DataDownload/README.md
JiraDataCrawler/1.DataDownload/DownloadData.ipynb
JiraDataCrawler/2.OverviewAnalysis/

githubIssueTables/*.csv

githubProjectsCommitData/apache/

gitRepo/
